@import '../../scss-variables.scss';

.SidebarArrow {
    background-color:$dark-blue;
    border-bottom:solid 2px $bg-blue;
    height:50px;

    p {
        margin:0 auto;
        writing-mode: vertical-rl;
        color:#f1f1f1;
        font-size:40px;
        padding:10px 0;
    }
    &:last-of-type {
        border-top:solid 2px $bg-blue;
        p {
            writing-mode: tb-rl;
            transform: rotate(-180deg);
        }
    }
}