@import './scss-variables.scss';

.App {
  
  .sidebar {
    position:fixed;
    width:12%;
    height:100%;
    background-color:$bg-blue;

    .sidebar-main {
      height:calc(100% - 104px);
      overflow:scroll;
    }
  }
  .main {
    position:fixed;
    right:0;
    width:calc(88% - 80px);
    height:100%;
    border-left:solid 1px $grey;
    padding:40px;
    background-color:$bg-blue;
    overflow:scroll;
    vertical-align: top;
    color:$white;

    .match-data {
      
    }
  }
}

.hideScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      /* Chrome, Safari and Opera */
      display: none; 
    }
}