@import '../../scss-variables.scss';

.ResultDisplay {
    display: inline-block;
    vertical-align: top;
    margin:60px 0;
    width:36%;
    height:520px;
    border:solid 1px $white;
    border-top:none;
    border-bottom:none;

    .result {
        text-align:center;
        display:inline-block;
        font-family:$numbers;
        width:30%;

        p {
            font-size:110px;
            margin:0;
            line-height:100px;

            span {

            }
            .home-goals {
                margin-right:4px;
            }
            .away-goals {
                margin-left:4px;
            }
        }
    }
    .penalties {
        width:100%;
        font-size:0;

        .penalties-title {
            font-size:18px;
            text-align:center;
            margin:10px 0;
            font-family:$main;
        }
    }
}