@import '../../scss-variables.scss';

.FootageBalloon {
    position:absolute;
    left:-250px;
    transform:translateY(20px);
    display:grid;
    grid-template-columns: 200px 200px 200px;
    background-color:$dark-blue;
    border-radius:12px;
    padding:10px;
    font-size:0;

    .triangle {
        position:absolute;
        left:50%;
        width: 0;
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom:solid 20px $dark-blue;
        transform:translateY(-100%);
    }
}
.hidden {
  display:none;
}