@import '../../scss-variables.scss';

.ExtraInformation {
    text-align:center;
    font-family:$main;
    border-top:solid 1px $white;
    margin:0 20px;

    .stadium {
        font-size:20px;
    }
    .league {
        height:100%;

        img {
            width:25%;
            margin-bottom:10px;
        }
        p {
            font-size:26px;
            text-transform:capitalize;
            margin:0 auto;
            
        }
    }
    .season {
        font-size:24px;
        margin:0;
    }
    .date {
        font-size:18px;
        margin-bottom:10px;
    }
    p {
        margin:20px auto;
    }
}