@import '../../scss-variables.scss';

.MatchThumbnail {
    margin:8px;
    border-radius:34px;
    padding:10px;
    background-color:$dark-blue;
    width:calc(100% - 36px);
    height:200px;
    color:$white;
    font-size:0;
    text-align:center;
    position:relative;
    -webkit-box-shadow: inset -6px -32px 57px -62px $grey;
    -moz-box-shadow: inset -6px -32px 57px -62px $grey;
    box-shadow: inset -6px -32px 57px -62px $grey;
    cursor:pointer;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
        -webkit-box-shadow: inset -6px -32px 80px -62px $grey;
        -moz-box-shadow: inset -6px -32px 80px -62px $grey;
        box-shadow: inset -6px -32px 80px -62px $grey;
        transition:all 0.2s;
    }
    img {
        position:absolute;
        height:55%;
        margin:20px 0;

        &:first-of-type {
            left:16px;
            z-index:1;
        }
        &:last-of-type {
            right:16px;
        }
    }
}
.activeThumbnail {
    background-color:#011e49;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(242,242,242,0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(242,242,242,0.9);
    box-shadow: 0px 0px 10px 0px rgba(242,242,242,0.9);
    &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.9);
        -moz-box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.9);
        box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.9);
    }
    &:active {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.2);
        box-shadow: 0px 0px 5px 0px rgba(242,242,242,0.2);
    }
}