@import '../../scss-variables.scss';

.MatchHeader {
    height:36%;
    padding:80px 20% 0 20%;
    font-size:0;
    text-align:center;

    img {
        display:inline-block;
        height:100%;
        margin:0 40px 0 0;

        &:last-of-type {
            margin:0 0 0 40px;

        }
    }
    .footage {
        display:inline-block;
        vertical-align: bottom;
        background-color:$dark-blue;
        width:120px;
        height:80px;
        border-radius:12px;
        text-align:center;
        -webkit-box-shadow: inset -6px -32px 57px -62px $grey;
        -moz-box-shadow: inset -6px -32px 57px -62px $grey;
        box-shadow: inset -6px -32px 57px -62px $grey;
        p {
            font-size:20px;
            line-height:80px;
            margin:0 auto;
        }
    }
}