@import '../../scss-variables.scss';

.MatchHeader {
    height:36%;
    padding:80px 20% 0 20%;
    font-size:0;
    text-align:center;

    .logo, .footage {
        display:inline-block;
        height:100%;
        width:400px;
        text-align:center;
        
        img {
            height:100%;
            margin:auto;
        }
    }
    .footage {
        cursor:pointer;
        -webkit-user-select: none;
        user-select: none;
        background-color:$dark-blue;
        width:120px;
        height:70px;
        border-radius:12px;
        text-align:center;
        font-size:20px;
        padding:0 14px;
        position:relative;
        -webkit-box-shadow: inset -6px -32px 57px -62px $grey;
        -moz-box-shadow: inset -6px -32px 57px -62px $grey;
        box-shadow: inset -6px -32px 57px -62px $grey;
        p {
            display:inline-block;
            line-height:70px;
            margin:0 auto;
            margin-left:10px;
        }
    }
}