@import '../../scss-variables.scss';

.ResultThumbnail {
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
    width:100%;

    p {
        margin:0 auto;
        width:60%;
        font-size:40px;
        font-family:$numbers;

        span {
            font-size:80px;
            margin:0 10px;
        }
    }
}