@import '../../scss-variables.scss';

.FootageThumbnail {
    display:inline-block;
    border:solid 1px $white;
    margin:4px;
    border-radius:12px;
    height:200px;
    text-decoration: none;
    color:$white;
    font-size:40px;
    overflow:hidden;
    position:relative;
    
    &:first-of-type {
        margin-left:0;
    }
    &:last-of-type {
        margin-right:0;
    }
    &:hover {
        .play-icon {
            font-size:44px;
            opacity: 1;
            transition:all 0.2s;
        }
    }
    img {
        width:100%;
    }
    .play-icon {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        line-height:200px;
        opacity:0.7;
    }
}