@import '../../scss-variables.scss';

.SquadList {
    width:calc(32% - 21px);
    display:inline-block;
    margin:60px 20px 100px 0;
    
    &:first-of-type {
        text-align:right;
        margin:60px 0 100px 20px;

        .player {
            flex-direction:row-reverse;
            p {
                margin:0 12px 0 0;
            }
        }
    }
    .player {
        height:26px;
        color:$white;
        font-size:18px;
        display:flex;

        p {
            display:inline-block;
            margin:0 0 0 12px;
            line-height:26px;
        }
        .player-number {
            font-family:$numbers;
            font-size:22px;
            width:30px;
        }
        .player-name {
            font-family: "Roboto";
        }
        .player-icons {

            img {
                height:20px;
                margin:4px;
            }
        }
        &:nth-of-type(n + 12) {
            color:$grey;
            font-size:16px;

            .player-icons {
                img {
                    height:16px;
                }
            }
        }
        &:nth-of-type(12) {
            margin-top:10px;
        }
    }
}